<header>
  <mat-grid-list cols="3" rowHeight="100%">
    <mat-grid-tile>
      <div class="logo">
        <mat-icon>Music Note</mat-icon>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="search-bar">
        <mat-form-field appearance="outline" style="width: 20vw">
          <mat-label>Search</mat-label>
          <input matInput>
          <mat-hint align="end">Search for products</mat-hint>
        </mat-form-field>
        <!--<input type="text" placeholder="Search.."/>
        <button>Search</button>-->
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="basket">
        <mat-icon>Face</mat-icon>
        <mat-icon>Shopping Basket</mat-icon>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</header>
