<header>
  <mat-grid-list cols="3" rowHeight="100%">
    <mat-grid-tile>
      <div class="logo">
        <mat-icon>Music Note</mat-icon>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="search-bar">
        <input type="text" placeholder="Search.."/>
        <button>Search</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="basket">
        <mat-icon>Face</mat-icon>
        <mat-icon>Shopping Basket</mat-icon>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</header>
