<div class="row">
  <div class="nav-block">
    <button class="nav-button" mat-raised-button style="margin-right: 20px">Electric Guitars</button>
  </div>
  <div class="nav-block">
    <button class="nav-button" mat-raised-button style="margin-right: 20px">Acoustic Guitars</button>
  </div>
  <div class="nav-block">
    <button class="nav-button" mat-raised-button style="margin-right: 20px">Bass Guitars</button>
  </div>
  <div class="nav-block">
    <button class="nav-button" mat-raised-button style="margin-right: 20px">Keys</button>
  </div>
</div>
